In [6]:
import numpy as np
import pandas as pd
import seaborn as sns
from datetime import datetime
import matplotlib.pyplot as plt
%matplotlib inline

covid_raw = pd.read_csv("covid.csv")
covid_raw

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-05-28 02:32:31,34.223334,-82.461707,35,0,0,35,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-05-28 02:32:31,30.295065,-92.414197,397,22,0,375,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-05-28 02:32:31,37.767072,-75.632346,780,12,0,768,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-05-28 02:32:31,43.452658,-116.241552,798,22,0,776,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-05-28 02:32:31,41.330756,-94.471059,7,0,0,7,"Adair, Iowa, US"
...,...,...,...,...,...,...,...,...,...,...,...,...
3409,NaN,NaN,NaN,West Bank and Gaza,2020-05-28 02:32:31,31.952200,35.233200,434,3,365,66,West Bank and Gaza
3410,NaN,NaN,NaN,Western Sahara,2020-05-28 02:32:31,24.215500,-12.885800,9,1,6,2,Western Sahara
3411,NaN,NaN,NaN,Yemen,2020-05-28 02:32:31,15.552727,48.516388,256,53,10,193,Yemen
3412,NaN,NaN,NaN,Zambia,2020-05-28 02:32:31,-13.133897,27.849332,1057,7,779,271,Zambia
3413,NaN,NaN,NaN,Zimbabwe,2020-05-28 02:32:31,-19.015438,29.154857,132,4,25,103,Zimbabwe

In [8]:
covid_raw.dtypes

FIPS              float64
Admin2             object
Province_State     object
Country_Region     object
Last_Update        object
Lat               float64
Long_             float64
Confirmed           int64
Deaths              int64
Recovered           int64
Active              int64
Combined_Key       object
dtype: object

In [ ]:
covid_raw.shape

In [9]:
del_col_list = ['FIPS', 'Last_Update']

covid = covid_raw.drop(del_col_list, axis=1)
covid.head()

,Admin2,Province_State,Country_Region,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,Abbeville,South Carolina,US,34.223334,-82.461707,35,0,0,35,"Abbeville, South Carolina, US"
1,Acadia,Louisiana,US,30.295065,-92.414197,397,22,0,375,"Acadia, Louisiana, US"
2,Accomack,Virginia,US,37.767072,-75.632346,780,12,0,768,"Accomack, Virginia, US"
3,Ada,Idaho,US,43.452658,-116.241552,798,22,0,776,"Ada, Idaho, US"
4,Adair,Iowa,US,41.330756,-94.471059,7,0,0,7,"Adair, Iowa, US"

In [10]:
covid.columns = covid.columns.str.replace('Admin2','County')
covid.columns = covid.columns.str.replace('Long_','Long')
covid.head()

,County,Province_State,Country_Region,Lat,Long,Confirmed,Deaths,Recovered,Active,Combined_Key
0,Abbeville,South Carolina,US,34.223334,-82.461707,35,0,0,35,"Abbeville, South Carolina, US"
1,Acadia,Louisiana,US,30.295065,-92.414197,397,22,0,375,"Acadia, Louisiana, US"
2,Accomack,Virginia,US,37.767072,-75.632346,780,12,0,768,"Accomack, Virginia, US"
3,Ada,Idaho,US,43.452658,-116.241552,798,22,0,776,"Ada, Idaho, US"
4,Adair,Iowa,US,41.330756,-94.471059,7,0,0,7,"Adair, Iowa, US"

In [11]:
print(covid.shape)
duplicate_rows_covid = covid[covid.duplicated()]
print(duplicate_rows_covid.shape)

(3414, 10)
(0, 10)

In [12]:
print(covid.isnull().sum())

County            401
Province_State    178
Country_Region      0
Lat                68
Long               68
Confirmed           0
Deaths              0
Recovered           0
Active              0
Combined_Key        0
dtype: int64

In [20]:
average_in_country = covid.groupby(["Country_Region"])[["Confirmed"]].mean()
sort_values()

NameError: name 'sort_values' is not defined

In [17]:
average_in_lat = covid.groupby(["Lat"])[["Confirmed"]].mean()
average_in_lat

            Confirmed
Lat
-52.368000     1037.0
-51.796300       13.0
-48.467400      691.0
-45.986400       12.0
-42.882100      228.0
...               ...
 64.903207        3.0
 64.963100     1805.0
 65.508155        1.0
 67.049192        2.0
 71.706900       13.0

[3345 rows x 1 columns]

In [13]:
# define minimums and maximums function
def find_min_max_in(col):
    
    top = covid[col].idxmax()
    top_df = pd.DataFrame(covid.loc[top])
    
    bottom = covid[col].idxmax()
    bottom_df = pd.DataFrame(covid.loc[top])
    
    info_df = pd.concat([top_df, bottom_df], axis = 1)
    return info_df

Index(['County', 'Province_State', 'Country_Region', 'Lat', 'Long',
       'Confirmed', 'Deaths', 'Recovered', 'Active', 'Combined_Key'],
      dtype='object')